{namespace dc=CP\Dinnerclub\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Detail.html" />

<f:section name="content">
            <div class="event-box shadow">
              <div class="event-text-box">
                  <p class="img-overlay-text">
                    <f:translate key="day.{newsItem.datetime -> f:format.date(format: 'w')}" /> {newsItem.datetime -> f:format.date(format: 'j.')} <f:translate key="month.{newsItem.datetime -> f:format.date(format: 'm')}" /> {newsItem.datetime -> f:format.date(format: 'H:i')}</p>
                  </p>
                <h3>{newsItem.title}</h3>
                <p>{newsItem.bodytext -> f:format.html()}</p>
              </div>
              <div class="event-img-box row">
                <f:for each="{newsItem.falMedia}" as="media">
                  <v:page.header.meta name="og:image" content="{f:uri.image(image: media, width: 270)}"/>
                  <div class="col-md-3">
                  <f:image image="{media}" width="270"/>
                  </div>
                </f:for>
              </div>
            </div>
</f:section>
