{namespace n=GeorgRinger\News\ViewHelpers}
{namespace dc=CP\Dinnerclub\ViewHelpers}
{namespace dcx=CP\DinnerclubExt\ViewHelpers}

<n:excludeDisplayedNews newsItem="{newsItem}"/>

  <f:switch expression="{settings.templateLayout}">
    <f:case default="1">
            <div class="event-box shadow" style="background:white">
            <div class="row">
              <f:if condition="{newsItem.media}">
              <div class="col-lg-6">
              <div class="event-img-box">
                <div class="event-img-overlay">
                  <p class="img-overlay-text">
                    <f:translate key="day.{newsItem.datetime -> f:format.date(format: 'w')}" /> {newsItem.datetime -> f:format.date(format: 'j.')} <f:translate key="month.{newsItem.datetime -> f:format.date(format: 'm')}" /> {newsItem.datetime -> f:format.date(format: 'H:i')}</p>
                  </p>
                </div>
                <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
              </div>
              </div>
              </f:if>
              <div class="col-lg-6">
              <div class="event-text-box">
                <h3>{newsItem.title}</h3>
                <p class="lead">{newsItem.teaser -> f:format.nl2br()}</p>
                <p>{newsItem.bodytext -> f:format.html()}</p>
                <p>
                <n:link newsItem="{newsItem}" class="weiterlesen-button">Weiterlesen</n:link>
                </p>
                <p>{dc:countRegistrations(newsItem: newsItem)} Anmeldungen</p>
                <p><dc:deadlineMessage event="{newsItem}" /></p>
              </div>
              </div>
            </div>
            </div>
    </f:case>
  </f:switch>
