{namespace dc=CP\Dinnerclub\ViewHelpers}
<f:layout name="Detail.html" />

<f:section name="content">
  <f:switch expression="{settings.templateLayout}">
    <f:case default="1">
          <div class="col-md-6">
            <div class="event-box shadow">
              <div class="event-img-box">
                <div class="event-img-overlay">
                  <p class="img-overlay-text">
                    <f:translate key="day.{newsItem.datetime -> f:format.date(format: 'w')}" /> {newsItem.datetime -> f:format.date(format: 'j.')} <f:translate key="month.{newsItem.datetime -> f:format.date(format: 'm')}" /> {newsItem.datetime -> f:format.date(format: 'H:i')}</p>
                  </p>
                </div>
                <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
              </div>
              <div class="event-text-box">
                <h3>{newsItem.title}</h3>
                <p>{newsItem.bodytext -> f:format.html()}</p>
              </div>
            </div>
          </div>
    </f:case>
  </f:switch>
</f:section>
