<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:dc="http://typo3.org/ns/CP/Dinnerclub/ViewHelpers">

<f:security.ifAuthenticated>
<f:alias map="{registrations: '{newsItem -> dc:getRegistrations()}'}">
	<p>{registrations -> f:count()} Tischanmeldungen: f&uuml;r {newsItem -> dc:countRegistrations()} Personen</p>
	<f:if condition="{newsItem -> dc:countRegistrations(vegetarian: 1)}">
		{newsItem -> dc:countRegistrations(vegetarian: 1)} vegetarisch
	</f:if>
	<dl>
	<f:for each="{registrations}" as="registration">
		<dt>
		<f:if condition="{registration.originalCount}">
			<f:if condition="{registration.count}">
			<f:then>UMMELDUNG ({registration.count} statt {registration.originalCount}):</f:then>
			<f:else>ABMELDUNG (urspr&uuml;nglich {registration.originalCount}):</f:else>
			</f:if>
			<br />
		</f:if>
		{registration.name}:
		</dt>
		<dd>
			{registration.count} Personen
			<f:if condition="{registration.vegetarian}">
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			&nbsp; &nbsp; {registration.vegetarian} vegetarisch
			</f:if>
			<f:if condition="{registration.vegan}">
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			&nbsp; &nbsp; {registration.vegan} vegan
			</f:if>
		</dd>
	</f:for>
	</dl>
	<a class="btn btn-default" href="#" onclick="window.print();">Drucken</a>
</f:alias>
</f:security.ifAuthenticated>
</div>
